
build-Expression-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/

build-DesignLibrary-Desktop_Qt_5_13_1_MinGW_64_bit-Debug/DesignPattern/debug/

build-DesignLibrary-Desktop_Qt_5_13_1_MinGW_64_bit-Debug/

build-Graph-Desktop_Qt_5_13_1_MinGW_64_bit-Debug/

*.user

build-LibExpression-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/debug/

build-LibExpression-Desktop_Qt_5_13_0_MinGW_64_bit-Debug/

*.lck

*.bak*
*.vbak

build-DesignLibrary-Desktop_x86_windows_msvc2015_pe_32bit-Debug/DesignPattern/

build-DesignLibrary-Desktop_x86_windows_msvc2015_pe_32bit-Debug/
